<% if @product.has_variants? %>
  <div id="product-variants">
    <% index = 0 %>
    <% @product.grouped_option_values.each do |type, values| %>
      <div id="<%= dom_id(type) %>" class="variant-options" data-index="<%= index %>">
        <select class="variant-option-values">
          <%= content_tag :option do %>
            <%= type.presentation.force_encoding("utf-8") %>를 고르세요
          <% end %>
          <% values.sort_by{|a| a.name.split(" ")[0].to_i}.each do |value| %>
          <% classes = ["option-value"] %>
          <% unless (variants = @product.variants_for_option_value(value)).empty? %>
            <% classes << ( variants.any? { |v| v.in_stock? } ? "in-stock" : "out-of-stock" ) if index == 0 %>
            <%= content_tag :option, value.presentation, :class => classes.join(" "), :id => "option-#{value.id}" %>
          <% end %>
        <% end %>
            <!-- value.has_image? ? image_tag(value.image.url, :alt => value.presentation) : content_tag(:span, -->
        </select>
      </div>
      <% index += 1 %>
      <% if index == 1 %>
        <div class="size-link">
          <a href="#sizeguide" class="size" data-rel="popup" data-position-to="window" data-theme="b">내 사이즈 찾기</a>
          <div data-role="popup" id="sizeguide" class="photopopup" data-overlay-theme="a" data-corners="false" data-tolerance="30,15" >
            <a href="#sizeguide"><%= image_tag @product.size_guide_url %></a>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= hidden_field_tag "variant_id", "", :id => "variant_id", :class => "hidden" %>
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = variantOptions({
        options: <%== @product.variant_options_hash.to_json -%>,
      });
    //]]>
    </script>
  </div>
<% end%>

