<% if @product.has_variants? %>
  <ul id="product-variants">
    <% if @product.color %>
      <li class="product-property">
        컬러: <%= @product.color %>
      </li>
    <% end %>
    <% index = 0 %>
    <% @product.grouped_option_values.each do |type, values| %>
      <% if values.length == 1 %>
        <li class="product-property">
          <%= "#{type.presentation.force_encoding("utf-8")}: #{values.first.presentation}" %>
        </li>
      <% else %>
        <li id="<%= dom_id(type) %>" class="variant-options select" data-index="<%= index %>">
          <select class="variant-option-values">
            <%= content_tag :option do %>
              <%= type.presentation.force_encoding("utf-8") %>를 고르세요
            <% end %>
            <% values.sort_by{|a| a.name.split(" ")[0].to_i}.each do |value| %>
              <% classes = ["option-value"] %>
              <% unless (variants = @product.variants_for_option_value(value)).empty? %>
                <% classes << ( variants.any? { |v| v.in_stock? } ? "in-stock" : "out-of-stock" ) if index == 0 %>
                <%= content_tag :option, classes[1] == "out-of-stock" ? "[품절] #{value.presentation}" : value.presentation , :class => classes.join(" "), :id => "option-#{value.id}" %>
              <% end %>
            <% end %>
          </select>
        </li>
      <% end %>
      <% index += 1 %>
    <% end %>

    <% active_variants = @product.variants.select { |v| !v.deleted? } %>
    <% if active_variants.length == 1 %>
      <%= hidden_field_tag "variant_id", @product.variants.first.id %>
    <% else if active_variants.length == 0 %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% else %>
      <%= hidden_field_tag "variant_id", "", :id => "variant_id", :class => "hidden" %>
    <% end %>
    <script type="text/javascript">
    //<![CDATA[
      var variant_options = variantOptions({
        options: <%== @product.variant_options_hash.to_json -%>,
      });
    //]]>
    </script>
  </div>
<% end%>

